.app {
  /* background-color: #262e2d; */
  background-image: url("https://c4.wallpaperflare.com/wallpaper/586/603/742/minimalism-4k-for-mac-desktop-wallpaper-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
